.rich-content-editor {
    canvas {
        background-color: transparent !important;
    }
    textarea {
        opacity: 0 !important;
    }
    [editor-component="main"] {
        width: 100% !important;
    }
}